doctype html
html(lang='ru')
    head
        title Bedo
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
        script(src='/bower_components/jquery/dist/jquery.min.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
        script(src='/bower_components/angular/angular.min.js')
        script(src='/bower_components/angular-route/angular-route.min.js')
        script(src='/bower_components/angular-resource/angular-resource.min.js')
        script(src='/bower_components/angular-ui-router/release/angular-ui-router.min.js')
        script(src='/public/js/bedo.min.js')
    body(ng-app="bedo")
        nav.navbar.navbar-default
            .navbar-header
                a.navbar-brand(ui-sref="main") Bedo
            ul.nav.navbar-nav
                li
                    a(ui-sref="hosts") Хосты
                li
                    a(ui-sref="services") Сервисы
        .container(ui-view)
