h3 Схема
script(src="/public/js/scheme.js")
style.
    #paper {
      border: 1px solid gray;
      position: relative;
      width: 700px;
      height: 320px;
      overflow: scroll;
      margin-top: 6px;
    }

div#paper
